# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/storybook-static/sb_dll/storybook_ui-manifest.json
/storybook-static/sb_dll/storybook_ui_dll.js
/storybook-static/sb_dll/storybook_ui_dll.LICENCE
/storybook-static/asset-manifest.json
/storybook-static/favicon.ico
/storybook-static/iframe.html
/storybook-static/index.html
/storybook-static/main.c5ff66e44dbdcbd66fa6.bundle.js
/storybook-static/main.c5ff66e44dbdcbd66fa6.bundle.js.map
/storybook-static/main.css
/storybook-static/main.css.map
/storybook-static/main.d751359471523cc8f79b.bundle.js
/storybook-static/manifest.json
/storybook-static/precache-manifest.6c9ea73acde5d9fbb056d638029c33bf.js
/storybook-static/runtime~main.4ac396420dd14c580a84.bundle.js
/storybook-static/runtime~main.c5ff66e44dbdcbd66fa6.bundle.js
/storybook-static/runtime~main.c5ff66e44dbdcbd66fa6.bundle.js.map
/storybook-static/service-worker.js
/storybook-static/vendors~main.175e8442d4c1dd00783e.bundle.js
/storybook-static/vendors~main.c5ff66e44dbdcbd66fa6.bundle.js
/storybook-static/vendors~main.c5ff66e44dbdcbd66fa6.bundle.js.map
